# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/

# IDE files
.vscode/
.idea/

# Model checkpoints and outputs
compressed_model/
improved_compressed_model/
enhanced_model/
evaluation_results/

# Miscellaneous
.DS_Store
